* {padding: 0;
   margin:0
   }

.bg-img {
background:url('../img/front.jpg') no-repeat;
background-size: cover;
height: 50vh;
width: 210vh;
}
.navbar {
    color: aliceblue !important;
    font-size: 18px;
    font-weight: bolder;
}
.navbar-nav{
    font-family: Franklin Gothic Medium }

    .navbar-expand-lg{
    font-family: Forte;
    color: rgb(104, 104, 236) !important;
}
.bg-img{
    text-align: center;
    font-weight: 200;
    color: rgba(134, 77, 10, 0.781);
    border: 1px;
    font-family: Urdu Typesetting;
}
.text{text-align: center;
background-color: rgb(76, 138, 61);
color: aliceblue;
padding: 2%;
margin: 2%;
font-family: 'Lucida Sans Unicode';}

.card{ background-color: rgb(216, 192, 161);}
